<ul class="nav nav-tabs">
  <li class="dropdown">
    <li>
      <%= link_to t("users.reading"), "#reading", data: {toggle: "tab"} %>
    </li>
    <li>
      <%= link_to t("users.read"), "#read", data: {toggle: "tab"} %>
    </li>
    <li>
      <%= link_to t("users.favorite"), "#favorite", data: {toggle: "tab"} %>
    </li>
  </li>
</ul>
<div class="tab-content">
  <div id="reading" class="tab-pane fade in active">
    <%= render "reading_books" %>
  </div>
  <div id="read" class="tab-pane fade">
    <%= render "read_books" %>
  </div>
  <div id="favorite", class="tab-pane">
    <%= render "favorite_books" %>
  </div>
</div>
