<div class="row div-title">
  <div class="col-md-3 div-user">
    <h3 class="col-md-offset-6"><%= t "views.reviews.user" %></h3>
  </div>
  <div class="col-md-9">
    <h3 class="col-md-offset-6"><%= t "views.reviews.review" %></h3>
  </div>
</div>
<% @reviews.each do |review| %>
  <div class="row review-row">
    <div class="col-md-3 avatar-row">
      <%= link_to gravatar_for(review.user), user_path(review.user) %>
      <%= link_to review.user.name, user_path(review.user),
        class: "btn btn-link avartar" %>
    </div>
    <div class="col-md-9 div-review">
      <strong>
        <%= t "views.reviews.status" %>
      </strong>
      <strong> <b><%= review.mark_type %></b> </strong>
      <div class="content-review">
        <% if review.content.size >= Settings.max_char %>
          <%= review.content[Settings.zezo..Settings.max_char] %>
          <%= link_to t("views.reviews.continue"),
            book_review_rate_path(@book, review),class: "btn btn-link" %>
        <% else %>
          <p> <%= review.content %> </p>
        <% end %>
      </div>
      <% if logged_in? %>
        <%= link_to t("views.reviews.like"), "#", class: "btn btn-link" %>
        <%= link_to t("views.reviews.rep"),
          book_review_rate_path(@book, review) %>
        <% if current_user.current_user? review.user %>
          <%= link_to t("views.reviews.edit"),
            edit_book_review_rate_path(review.book, review),
            class: "btn btn-link" %>
          <%= link_to t("views.reviews.delete"),
            book_review_rate_path(review.book, review), method: :delete,
            data: {confirm: t("views.reviews.data_confirm")},
            class: "btn btn-link" %>
        <% end %>
      <% end %>
      <div class= "comment"><%=render review.comments%></div>
    </div>
  </div>
<% end %>
<div class="col-md-offset-4">
  <%= will_paginate @reviews %>
</div>
