<%= provide :title, t("views.books.title") %>
<div class="container">
  <div class="row">
    <div class="col-md-4 book_image">
      <div class="col-md-4 ">
        <div id="mark_read" class="formmark">
          <%= link_to book_path(@book),
            class: "btn btn-link col-md-offset-4" do %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 center">
        <div id="mark_favorite" class="formmark">
          <%= link_to book_path(@book), class: "btn btn-link col-md-6" do %>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"/>
          <% end %>
        </div>
      <div class="row">
      </div>  
        <div class="rating"><%= t "views.ratings.rating" %>:
          <%= @rate.round Settings.ratings.round %>/<%= Settings.ratings.max_rate %>
          (<%= pluralize @book.ratings.count, t("views.ratings.vote") %>)
        </div>
        <% if logged_in? && !@book.rated?(current_user) %>
          <%= form_for [@book, @rating],
            html: {remote: true, class: "form-inline", id: "rating-form"} do |f| %>
            <%= f.select :rate,
              options_for_select(Settings.ratings.min_rate..Settings.ratings.max_rate,
              params[:rate]), {}, class: "form-control" %>
            <%= f.submit t("views.ratings.rate"), class: "btn-warning
              form-control" %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <% if @book.cover? %>
          <%= image_tag @book.cover.url, class: "center-block" %>
        <% else %>
          <%= link_to image_tag("img.jpg",
            class: "center-block"), @book %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <h2><%= link_to @book.title, book_path(@book) %></h2>

      <label><%= t "views.books.author" %></label>
      <%= @book.author %></br>

      <label><%= t "views.books.description" %></label></br>
      <p style="white-space: pre-line"><%= @book.description %></p>
      <%= @book.description %>

      <label><%= t "views.books.page" %></label>
      <%= @book.number_of_page %>

      <div class="row">
        <div class="col-md-3">
          <%= render "book_marks/mark_book" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row div-button-create-review">
    <div class="cold-md-3 col-md-offset-5">
      <%= link_to t("views.reviews.create_review"),
        new_book_review_rate_path(@book),
        class: "btn btn-lg btn-custom" %>
    </div>
  </div>
  <%= render "books/reviews_form" %>
 </div>
