<%= form_for [@book, @book_mark] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :book_id %>

  <%= f.submit t("views.book_mark.marked"), class: "btn btn-primary" %>
  <span>
    <%= f.select :mark_type, options_for_select(@book_mark_types) %>
  </span>
<% end %>
