<% provide :title, t("views.categories.title_page") %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "categories/category_form" %>
    </div>
    <div class="col-md-9">
      <% if @books.nil? %>
        <h2><%= t "views.categories.book_nill" %></h2>
      <% else %>
        <h2><%= t "views.books.all_books" %></h2>
        <%= render "books/book_form" %>
      <% end %>
    </div>
  </div>  
  <div class="col-md-offset-4">
    <%= will_paginate @books %>
  </div>
</div>
